<div class="html-template">
      <p style="font-weight: 700;">GF-2020-2604</p>
      <p style="text-align: center;font-weight:700;font-size: 24px;">中小学生校外培训服务合同</p>
      <p style="text-align: center;font-weight:600;font-size: 18px;">（示范文本）</p>
      <p style="text-align:center;font-weight:600;">制定部门：[教育部 市场监管总局]</p>
      <p style="text-align:center;font-weight:500;">2020版</p>
      <p style="text-align:center;font-weight:700;">使用说明</p>
      <br />
      <p
        style="text-indent: 2em;"
      >一、本合同文本为示范文本，供受培训者（学员）监护人与校外培训机构之间签订培训合同时参照使用，双方当事人也可使用本合同电子版在电子商务平台上签约。</p>
      <p style="text-indent: 2em;">二、合同双方当事人在签约之前应当仔细阅读本合同内容，特别是具有选择性、补充性、填充性、修改性的内容。</p>
      <p
        style="text-indent: 2em;"
      >三、双方当事人应结合具体情况选定本合同文本的选择性条款（在方框内打“√”，以示双方确认），空白行供双方当事人自行约定或者补充约定。双方当事人可以对文本条款的内容进行修改、增补或删除，但不得随意减轻或者免除依法应当由校外培训机构承担的责任。合同签订生效后，未被修改的文本印刷文字视为双方同意内容。</p>
      <p style="text-indent: 2em;">四、本合同文本中涉及到的选择、填写内容以手写项为优先。</p>
      <p style="text-indent: 2em;">五、学前教育阶段培训机构可参考本示范文本制定符合自身特点的合同文本。</p>
      <p
        style="text-indent: 2em;"
      >六、本合同文本所称校外培训机构是指，面向中小学生开展非学历其他文化教育培训的培训机构。合同签订前，培训机构应当出示办学许可证，营业执照（或事业单位法人证书、民办非企业单位登记证书）等证明文件。</p>
      <p style="text-indent: 2em;">七、本合同示范文本由教育部和市场监管总局联合制定。</p>
      <p style="text-align: right">
        合同编号：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">123456789</span>
      </p>
      <p style="text-align: center;font-weight: 700;font-size: 24px;">中小学生校外培训服务合同</p>
      <p style="text-align: center; font-weight: 600; font-size: 18px;">（示范文本）</p>
      <br />
      <p>
        甲方（提供培训方）：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">丹秋集团</span>
      </p>
      <p>
        机构名称（与营业执照或办学许可证一致）：
        <span
          style="border-bottom: 1px solid #000;padding: 0 12px;"
        >丹秋集团丹秋集团丹秋集团丹秋集团</span>
      </p>
      <p>
        办学地址（与营业执照或办学许可证一致）：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">丹秋集团</span>
      </p>
      <p>
        <span style="display: inline-block;margin-right: 16px;">
          审批机关：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">收代理费</span>
        </span>
        <span style="display: inline-block;">
          登记注册机关：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">是牢记历史</span>
        </span>
      </p>
      <p>
        <span style="display: inline-block;margin-right: 16px;">
          办学许可证编号：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">收代理费</span>
        </span>
        <span style="display: inline-block;">
          办学许可证有效期：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">是牢记历史</span>
        </span>
      </p>
      <p>
        线上机构ICP备案号：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">丹秋集团</span>
      </p>
      <p>
        统一社会信用代码：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">丹秋集团</span>
      </p>
      <p>
        民非登记证/营业执照有效期：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">丹秋集团</span>
      </p>
      <p>
        <span style="display: inline-block;margin-right: 16px;">
          联系人：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">丹秋集团</span>
        </span>
        <span style="display: inline-block;">
          联系电话：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">156879664548</span>
        </span>
      </p>
      <p>
        乙方（接受培训方监护人）：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">丹秋集团</span>
      </p>
      <p>
        <span style="display: inline-block;margin-right: 16px;">
          学员姓名：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">丹秋集团</span>
        </span>
        <span style="display: inline-block;">
          性别：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">男</span>
        </span>
        <span style="display: inline-block;">
          出生日期：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">2020-11-11</span>
        </span>
      </p>
      <p>
        身份证件类型及号码：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">516546555444478884</span>
      </p>
      <p>
        <span style="display: inline-block;margin-right: 16px;">
          就读学校：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">什么什么学校</span>
        </span>
        <span style="display: inline-block;">
          就读年级：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">男</span>
        </span>
      </p>
      <p>
        联系电话：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">15855554688</span>
      </p>
      <p>
        <span style="display: inline-block;margin-right: 16px;">
          监护人姓名：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">姓名姓名</span>
        </span>
        <span style="display: inline-block;">
          与学员关系：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">关系</span>
        </span>
      </p>
      <p>
        <span style="display: inline-block;margin-right: 16px;">
          联系电话：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">15846548784</span>
        </span>
        <span style="display: inline-block;">
          联系地址：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">联系地址联系地址联系地址联系地址联系地址</span>
        </span>
      </p>
      <p>
        身份证件类型及号码：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">516546555444478884</span>
      </p>
      <br />
      <p
        style="text-indent: 2em;"
      >根据《中华人民共和国教育法》《中华人民共和国民办教育促进法》等有关法律、法规的规定，甲乙双方遵循平等、自愿、公平、诚实、守信的原则，遵循教育规律和青少年健康成长规律，经协商一致，签订本合同。</p>
      <p style="text-indent: 2em;font-weight:600">第一条 适用对象</p>
      <p style="text-indent: 2em;">本合同适用受培训者（学员）一般为在校的中小学生。</p>
      <p style="text-indent: 2em;font-weight:600;">第二条 甲方的权利和义务</p>
      <p
        style="text-indent: 2em;"
      >（一）甲方有权按照国家有关政策规定和合同约定收取培训费用。甲方收取培训费用后应当及时向乙方开具正规发票。（按照国家有关政策要求，培训机构不得一次性向乙方收取或变相收取时间跨度超过3个月的费用；线上培训机构按课时收费的，每科不得一次性收取超过60课时的费用。）</p>
      <p
        style="text-indent: 2em;"
      >（二）甲方应当向乙方明示办学许可证、营业执照（或事业单位法人证书、民办非企业单位登记证书）、收费项目、收费标准、办学事项、退费办法、上课时间和服务承诺等内容，公开透明培训，接受社会监督，甲方不得在公示的项目和标准外向乙方收取其他费用。</p>
      <p
        style="text-indent: 2em;"
      >（三）甲方可以依照相关法律法规制定适合其机构自身的培训管理制度并在甲方培训场所醒目位置进行公示，甲方有权要求乙方遵照执行，以确保培训活动顺利进行。</p>
      <p
        style="text-indent: 2em;"
      >（四）甲方开设培训项目符合国家及培训场所所在地有关规定，遵循教育规律和学生身心发展规律，甲方及甲方的教职员工不得以任何方式向学员传播、讲授违反相关法律法规的培训内容。</p>
      <p
        style="text-indent: 2em;"
      >（五）甲方保证，按照国家有关政策要求配备与培训项目及培训规模相适应的教学及实训设施设备，配备与培训类别、层次及规模相适应的专兼职培训队伍，从事中小学学科知识培训的人员具有相应的教师资格，聘用的外籍从业人员符合国家有关规定。甲方应加强对所聘用人员的管理，确保不出现打骂、猥亵、虐待等损害学员身心健康或合法权益的行为。</p>
      <p style="text-indent: 2em;">（六）甲方应确保提供给学员的培训班次与学员所处年级相匹配，提供的培训安排与乙方当地教育行政部门规定的教学时间不存在冲突。</p>
      <p
        style="text-indent: 2em;"
      >（七）甲方应做好消防、食品、公共卫生等安全管理，落实安全防范措施，建立健全安全管理制度和应急预警处理机制，防范各类安全责任事故发生。每次培训课程结束后，甲方应确保学员被乙方安全接走，双方另有约定的除外。</p>
      <p style="text-indent: 2em;">（八）甲方若改变培训方式，需双方协商一致。</p>
      <p
        style="text-indent: 2em;"
      >（九）甲方应当依法保护在签订和履行合同过程中获悉的乙方及学员个人信息，不得泄露或者以其它不正当的方式使用乙方及学员个人隐私信息。未经乙方书面同意，甲方不得擅自使用乙方及学员的姓名、肖像、影像用于商业用途。</p>
      <p style="text-indent: 2em;">（十）未经乙方书面同意，甲方不得将本合同约定的培训服务转让给第三方，不得擅自将学员转交给第三方机构进行培训。</p>
      <p style="text-indent: 2em;">
        （十一）甲方应当设置处理合同和服务争议的内设部门或者专员，甲方的客服电话为：
        <span
          style="border-bottom: 1px solid #000;padding: 0 12px;"
        >15515151515</span>。
      </p>
      <p style="text-indent: 2em;font-weight:600">第三条 乙方的权利和义务</p>
      <p style="text-indent: 2em;">（一）乙方有按照本合同的约定接受甲方培训服务的权利。</p>
      <p
        style="text-indent: 2em;"
      >（二）乙方对培训过程以及培训人员的从业背景和执教信息享有知情权。乙方可以通过公开课、学习报告等适当方式了解学员的学习状况，甲方应当为乙方提供方便，接受乙方监督。</p>
      <p style="text-indent: 2em;">（三）乙方应当按时足额向甲方缴纳培训费用。</p>
      <p
        style="text-indent: 2em;"
      >（四）乙方及学员应当自觉遵守甲方的各项培训管理制度和课堂纪律，不得妨碍其他学员的正常学习活动。乙方应当自觉遵守培训场所的各种安全规定，不从事危害自身或者他人人身、财产安全的不当行为。培训期间如因乙方或学员的原因造成甲方或他人人身、财产损害的，乙方应承担损害赔偿责任。</p>
      <p
        style="text-indent: 2em;"
      >（五）乙方及学员应当尊重甲方的知识产权，不得擅自对培训过程进行录音、录像。对于甲方拥有知识产权的培训材料或者课件，乙方及学员除在正常学习过程中合理使用外，不得私自复制、散发、销售，不得通过互联网进行分享、扩散和传播。</p>
      <p style="text-indent: 2em;">（六）未经甲方同意，乙方不得擅自将本合同课程转让给第三方，或者将听课凭证转让、出借给他人使用。</p>
      <p style="text-indent: 2em;">（七）如学员身体健康状况有特殊情形不再适合参与培训的，乙方应及时告知甲方，甲方可按照相关培训管理制度处理。</p>
      <p style="text-indent: 2em;font-weight:600;">第四条 培训服务</p>
      <p style="text-indent: 2em;font-weight:600">（一）培训项目</p>
      <p>
        <span style="text-indent: 2em;display: inline-block;margin-right: 16px;">
          课程名称：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">课程名称课程名称</span>
        </span>
        <span style="text-indent: 2em;display: inline-block;">
          班级编号：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">12345646513</span>
        </span>
      </p>
      <p>
        <span style="text-indent: 2em;display: inline-block;margin-right: 16px;">
          课程顾问（经办人）：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">经办人姓名</span>
        </span>
        <span style="text-indent: 2em;display: inline-block;">
          总课时数（节）：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">10</span>
        </span>
      </p>
      <p>
        <span style="text-indent: 2em;display: inline-block;margin-right: 16px;">
          每次培训课时（节）：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">10</span>
        </span>
        <span style="text-indent: 2em;display: inline-block;">
          上课时间：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">2020-10-1</span>
        </span>
      </p>
      <p>
        <span style="text-indent: 2em;display: inline-block;margin-right: 16px;">
          开课日期：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">2020-10-10</span>
        </span>
        <span style="text-indent: 2em;display: inline-block;">
          预计结课日期：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">2020-10-1</span>
        </span>
      </p>
      <p style="text-indent: 2em;font-weight:600">（二）培训要求</p>
      <p style="text-indent: 2em;">1.培训方式：</p>
      <div style="text-indent: 2em;">
        <p style="margin-right: 8px;">
          <span
            style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
          >√</span>线下培训
        </p>
        <p>
          <span
            style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
          >√</span>线上培训
        </p>
      </div>
      <div style="text-indent: 2em;">
        <p>
          <span
            style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
          >√</span>一对一（或一对
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">2</span> ）面授
        </p>
      </div>
      <div style="text-indent: 2em;">
        <p>
          <span
            style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
          >√</span>大班额面授课（标准：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">2</span>人——
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">3</span>人）
        </p>
      </div>
      <div style="text-indent: 2em;">
        <p>
          <span style="display: inline-block;text-indent: 0;">
            <span
              style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
            >√</span>小班额面授课（班级限额≤
            <span style="border-bottom: 1px solid #000;padding: 0 12px;">2</span>
            人）
          </span>
          <span style="display: inline-block;">
            <span
              style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
            >√</span>
            其他方式：
            <span style="border-bottom: 1px solid #000;padding: 0 12px;">大班</span>
          </span>
        </p>
      </div>
      <div style="text-indent: 2em;">
        <p>
          <span>
            <span
              style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
            >√</span>最低开班人数 ，低于此人数可不开班；
          </span>
          <span style="display:inline-block">
            <span
              style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
            >√</span>本班开班不受最低人数限制。
          </span>
        </p>
      </div>
      <div style="text-indent: 2em;">
        <p>
          2.是否指定授课教师：
          <span
            style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
          >√</span>否
          <span
            style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
          >√</span>是（指定教师姓名：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">姓名</span>，指定教师未经乙方同意不得更换）；是否有教师资格证
          <span
            style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
          >√</span>有
          <span
            style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
          >√</span>没有
        </p>
      </div>
      <p>
        <span style="text-indent: 2em;display: inline-block;margin-right: 16px;">
          3. 实际授课地点：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">实际授课地点</span>
        </span>
        <span style="text-indent: 2em;display: inline-block;">
          总课时数（节）：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">10</span>
        </span>
      </p>
      <p style="text-indent: 2em;">
        4.学员接送方式：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">学员接送方式学员接送方式</span>。
      </p>
      <p style="text-indent: 2em;font-weight:600;">第五条 培训收费</p>
      <p style="text-indent: 2em;font-weight:600">（一）收费标准（人民币）</p>
      <p style="text-indent: 2em;">
        培训费用合计：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">壹万元</span>
        （大写）
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">10,000</span>
        （小写）元
      </p>
      <p style="text-indent: 2em;">
        1.课时费：共计
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">100</span>元（ 元/节）。
      </p>
      <p style="text-indent: 2em;">
        2.培训资料费：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">100</span>元，
      </p>
      <p style="text-indent: 2em;">
        培训资料包括：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">培训资料包括培训资料包括</span>。
      </p>
      <p style="text-indent: 2em;">3.其他费用：</p>
      <p>
        <span style="text-indent: 2em;display: inline-block;margin-right: 16px;">
          名称：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">书本</span>
        </span>
        <span style="text-indent: 2em;display: inline-block;">
          金额：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">10</span>元，
        </span>
        <span style="text-indent: 2em;display: inline-block;">
          收费依据：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">收费依据</span>元
        </span>
      </p>
      <p>
        <span style="text-indent: 2em;display: inline-block;margin-right: 16px;">
          名称：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">书本</span>
        </span>
        <span style="text-indent: 2em;display: inline-block;">
          金额：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">10</span>元，
        </span>
        <span style="text-indent: 2em;display: inline-block;">
          收费依据：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">收费依据</span>元
        </span>
      </p>
      <p>
        <span style="text-indent: 2em;display: inline-block;margin-right: 16px;">
          名称：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">书本</span>
        </span>
        <span style="text-indent: 2em;display: inline-block;">
          金额：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">10</span>元，
        </span>
        <span style="text-indent: 2em;display: inline-block;">
          收费依据：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">收费依据</span>元
        </span>
      </p>
      <p style="text-indent: 2em;font-weight:600">（二）付费方式（人民币）</p>
      <p style="text-indent: 2em;">经甲乙双方协商，乙方采取以下第 种方式付款：</p>
      <p style="text-indent: 2em;">
        1.
        <!-- <span
        style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
        >√</span>-->
        培训周期超过
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">2</span>个☐月/☐课时的，☐培训费用金额超过
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">2,000</span>元的，
      </p>
      <p style="text-indent: 2em;">
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">2020</span>年
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">02</span>月
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">02</span>日之前支付培训费用的
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">20</span>%，计
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">2020</span>元；
      </p>
      <p style="text-indent: 2em;">
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">2020</span>年
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">02</span>月
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">02</span>日之前支付培训费用的
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">20</span>%，计
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">2020</span>元；
      </p>
      <p style="text-indent: 2em;">
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">2020</span>年
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">02</span>月
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">02</span>之前支付剩余
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">20</span>%，计
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">2020</span>元；
      </p>
      <p style="text-indent: 2em;">
        3.其他方式
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">123456789</span>（说明）。
      </p>
      <p style="text-indent: 2em;font-weight:600">（三）付费渠道</p>
      <!-- <p style="margin-right: 8px;">
      <span
        style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
      >√</span>线下培训
      </p>-->
      <p style="text-indent: 2em;">
        乙方采取
        <span style="text-indent:0;display:inline-block;margin-right:8px">
          <span
            style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
          >√</span>现金
        </span>
        <span style="text-indent:0;display:inline-block;margin-right:8px">
          <span
            style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
          >√</span>银行卡
        </span>
        <span style="text-indent:0;display:inline-block;margin-right:8px">
          <span
            style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
          >√</span>支付宝
        </span>
        <span style="text-indent:0;display:inline-block;margin-right:8px">
          <span
            style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
          >√</span>微信
        </span>
        <span style="text-indent:0;display:inline-block;">
          <span
            style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
          >√</span>其他
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">其他方式</span>
        </span>
        方式支付培训费用。甲方的培训费用收款账户信息如下：
      </p>
      <p style="text-indent:2em">
        <span>
          开户银行：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">开户银行开户银行</span>，
        </span>
        <span style="display:inline-block;">
          银行账号：
          <span style="border-bottom: 1px solid #000;padding: 0 12px;">5415646546465466546</span>
        </span>
      </p>
      <p style="text-indent:2em">
        支付宝账户：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">18181819797</span>
      </p>
      <p style="text-indent:2em">
        微信账户：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">18181818181</span>
      </p>
      <p style="text-indent:2em">
        其他方式：
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">1818181818</span>
      </p>
      <p style="text-indent: 2em;font-weight:600;">第六条 培训退费</p>
      <p style="text-indent: 2em;">
        （一）乙方在培训班正式开班前
        [
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">2</span>]天或开班后[
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">2</span>]
        <span
          style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
        >√</span>天
        <span
          style="width: 15px;height: 15px;border: 1px solid rgb(0, 0, 0);display: inline-block;margin-right: 4px;font-size: 14px;text-align: center;line-height: 15px;text-indent: 0;"
        >√</span>课时前提出退学的，有权要求全额退费。
      </p>
      <p style="text-indent:2em">（二）由于乙方的原因申请提前退学的，双方同意按照第 种约定方式办理退费。</p>
      <p style="text-indent:2em">1.退还乙方未消耗课时所对应的培训费余额。</p>
      <p style="text-indent:2em">
        2.参加课程培训未达[
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">2</span>]%者，退还乙方未消耗课时所对应的培训费余额；参加课程培训超过[
        <span
          style="border-bottom: 1px solid #000;padding: 0 12px;"
        >2</span>]%者，退还乙方未消耗课时所对应培训费余额的[
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">2</span>]%。
      </p>
      <p style="text-indent:2em">
        3.其他方式
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">1818181818</span>
      </p>
      <p style="text-indent:2em">
        （三）在办理退费时，对于已发放给乙方的培训资料的费用、已转付给第三方并无法索回的代收代支费用以及已向银行（第三方）支付的合理手续费用等，由甲方出示相关证明材料后，经协商，由
        <span
          style="border-bottom: 1px solid #000;padding: 0 12px;"
        >乙方</span>方承担。
      </p>
      <p style="text-indent:2em;">（四）乙方所报班次低于最低开班人数不能开班的，甲方应退还乙方已缴付的全部费用。</p>
      <p style="text-indent:2em;">
        （五）甲方应在收到乙方书面退费申请后
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">5</span>（≤20）个工作日内，将相应退费款项支付给乙方。
      </p>
      <p style="text-indent:2em;">（六）退费方式：按乙方缴费原路径或双方协商一致路径退回。</p>
      <p style="text-indent:2em;font-weight:600;">第七条 违约责任</p>
      <p style="text-indent:2em">
        （一）甲方未达到合同约定的场所、教师等培训条件的，或甲方未经乙方同意，擅自变更培训方式或培训教师的，乙方有权要求解除合同，要求甲方退还剩余培训费并支付剩余培训费[
        <span
          style="border-bottom: 1px solid #000;padding: 0 12px;"
        >5</span>]%金额的违约金。
      </p>
      <p style="text-indent:2em">
        （二）由于甲方的原因，包括但不限于甲方办学许可证过期，被吊销办学许可证、营业执照（或事业单位法人证书、民办非企业单位登记证书），被责令停业整顿等原因，无法继续向乙方提供培训服务的，乙方有权要求解除合同，要求甲方退还剩余培训费并支付剩余培训费[
        <span
          style="border-bottom: 1px solid #000;padding: 0 12px;"
        >5</span>]%金额的违约金。
      </p>
      <p
        style="text-indent:2em"
      >（三）甲方招生简章或者招生广告中对培训师资和效果等所作的说明和允诺具体确定，并对培训合同的订立以及课程价格的确定有重大影响的，应当视为要约。相关说明和允诺即使未载入本合同，亦应当视为合同内容，甲方所提供服务与上述相关说明和允诺不相符的，乙方有权要求解除合同，要求甲方退还剩余培训费并支付剩余培训费[ ]%金额的违约金。</p>
      <p style="text-indent:2em">
        （四）未经乙方同意，甲方擅自将本合同约定的服务转给第三方或将学员转交给第三方机构进行培训的，乙方有权要求解除合同，要求甲方退还剩余培训费并支付剩余培训费[
        <span
          style="border-bottom: 1px solid #000;padding: 0 12px;"
        >5</span>]%金额的违约金。
      </p>
      <p style="text-indent:2em">
        （五）因甲方违约，双方就退费事宜书面达成一致后，甲方应于 （≤20）个工作日内将各项相关费用支付给乙方，每逾期一日应按逾期金额[
        <span
          style="border-bottom: 1px solid #000;padding: 0 12px;"
        >5</span>]%的标准（不超过万分之六点五）向乙方支付违约金。
      </p>
      <p style="text-indent:2em">
        （六）乙方逾期未支付培训费用的，甲方有权终止或中止培训服务，乙方需支付实际已培训天数的课时费，每逾期一日应按逾期金额[
        <span
          style="border-bottom: 1px solid #000;padding: 0 12px;"
        >5</span>]%的标准（不超过万分之六点五）向甲方支付违约金。
      </p>
      <p style="text-indent:2em">（七）乙方擅自将本合同课程转让给第三方，或者将听课凭证转让、出借给他人使用的，甲方有权拒绝为非学员提供培训服务。</p>
      <p style="text-indent:2em">（八）由于乙方的原因，无法继续接受培训服务的，甲方不承担违约责任。</p>
      <p
        style="text-indent:2em"
      >（九）因战争、自然灾害、传染性疾病等不可抗力致使本合同无法继续履行的，双方互不承担违约责任，受不可抗力影响的一方应及时书面通知对方，双方按照实际消耗课时结算（或协商结算）培训费用。</p>
      <p style="text-indent: 2em;font-weight:600;">第八条 争议处理</p>
      <p style="text-indent:2em">本合同在履行过程中发生争议，双方可协商解决，协商不成的，双方一致同意选择以下解决方式：</p>
      <p style="text-indent:2em">
        1.依法向
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">什什么什么神门肾</span>仲裁委员会申请仲裁。
      </p>
      <p style="text-indent:2em">
        2.依法向
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">什么神门什么水电费文</span>人民法院提起诉讼。
      </p>
      <p style="text-indent:2em">
        3.其他
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">其他其他其他其他其他其他</span>。
      </p>
      <p style="text-indent:2em;font-weight:600;">第九条 补充协议</p>
      <p style="text-indent:2em">本合同未尽事宜，由下列补充条款进行约定。补充条款与本合同其他条款不一致的，以补充条款为准。</p>
      <p style="text-indent:2em;">
        1.
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">其他其他其他其他其他其他</span>
      </p>
      <p style="text-indent:2em;">
        2.
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">其他其他其他其他其他其他</span>
      </p>
      <p style="text-indent:2em;">
        3.
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">其他其他其他其他其他其他</span>
      </p>
      <p style="text-indent:2em;">
        4.
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">其他其他其他其他其他其他</span>
      </p>
      <p style="text-indent:2em;">
        5.
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">其他其他其他其他其他其他</span>
      </p>
      <p style="text-indent:2em;font-weight:600;">第十条 生效方式</p>
      <p style="text-indent:2em;">本合同自甲方盖章乙方签字或双方采用合法有效的电子签名方式签署之日起生效。</p>
      <p style="text-indent:2em;">
        合同正本连同补充条款共 页，一式
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">2</span>份，甲乙双方各执
        <span style="border-bottom: 1px solid #000;padding: 0 12px;">1</span>份，各份具有同等法律效力。
      </p>
      <p style="text-indent:2em;font-weight:600;">第十一条 合同附件</p>
      <p style="text-indent:2em">1.甲方服务项目说明与教学安排；</p>
      <p style="text-indent:2em">2.甲方培训收费标准；</p>
      <p style="text-indent:2em">3.甲方培训退费办法；</p>
      <div
        style="display: flex;align-items: flex-end;flex-wrap: wrap;justify-content: space-between;"
      >
        <div>
          <div style="position:relative;margin: 100px 0;">
            <span>甲方（盖章）：</span>
            <img
              style="width:220px;position: absolute;top: 0;left: 0;transform: translate(45%, -50%);"
              src="C:\Users\DELL\Desktop\3.jpg"
            />
          </div>
          <p>
            甲方代表（经办人签字）：
            <span style="border-bottom: 1px solid #000;padding: 0 12px;">
              <img style="width:50px" id="agentSign" src= "C:\Users\DELL\Desktop\3.jpg"/>
            </span>
          </p>
          <p>
            <span style="border-bottom: 1px solid #000;padding: 0 12px;">2020</span>年
            <span style="border-bottom: 1px solid #000;padding: 0 12px;">7</span>月
            <span style="border-bottom: 1px solid #000;padding: 0 12px;">16</span>日
          </p>
        </div>
        <div>
          <div style="position:relative;margin-right:16px">
            <p>
              乙方（接受培训方监护人签字）：
              <span style="border-bottom: 1px solid #000;padding: 0 12px;">
                <img style="width:50px" id="clientSign" src="C:\Users\DELL\Desktop\3.jpg" />
              </span>
            </p>
          </div>
          <p>
            <span style="border-bottom: 1px solid #000;padding: 0 12px;">2020</span>年
            <span style="border-bottom: 1px solid #000;padding: 0 12px;">7</span>月
            <span style="border-bottom: 1px solid #000;padding: 0 12px;">16</span>日
          </p>
        </div>
      </div>
    </div>